<?xml version="1.0" encoding="utf-8"?>
<window layered="true" >
    <Include source="defalut/default.xml" style="true" />
 
    <Default name="Menu" shared="true" value="bordersize=&quot;1&quot; bordercolor=&quot;0xFF0000FF&quot; inset=&quot;2,2,2,2&quot; itemtextpadding=&quot;24,0,20,0&quot; itemselectedbkcolor=&quot;0xFF338ACA&quot; bkimage=&quot;file='default/menu/menu_bk.png' corner='26,2,2,2' source='6,6,44,24'&quot;"/>
    <Default name="MenuElement" shared="true" value="expandwidth=&quot;16&quot; expandicon=&quot;file='default/menu/expand.png' dest='0,2,16,18'&quot; iconchecked=&quot;file='default/menu/check.png' dest='0,3,16,19'&quot; "/>

    <Style name="styleMulti" shared="true" value="iconnormal=&quot;res='menu/multi.png' dest='0,2,16,18'&quot;"/>
    
    <Menu>
        <MenuElement name="menuLanguage" text="%[menuLanguage]" iconnormal="res=&apos;menu/language.png&apos; dest=&apos;0,2,16,18&apos;" expandable="true">
            <MenuElement name="menuChinese" text="简体中文" iconnormal="res=&apos;menu/chinese.png&apos; dest=&apos;0,2,16,18&apos;"/>
            <MenuElement name="menuEnglish" text="英文" iconnormal="res=&apos;menu/english.png&apos; dest=&apos;0,2,16,18&apos;"  />
            <MenuElement name="menuJapanese" text="日语" iconnormal="res=&apos;menu/japanese.png&apos; dest=&apos;0,2,16,18&apos;"  />
        </MenuElement>
        <MenuElement name="menuListen" text="启动监听" checkable="true" checked="true"/>

        <MenuElement name="menuMulti" text="多级菜单" style="styleMulti" expandable="true">
            <MenuElement name="menuSecond1" text="二级菜单" style="styleMulti" />
            <MenuElement name="menuSecond2" text="二级菜单" style="styleMulti" expandable="true">
                <MenuElement name="menuThree1" text="三级菜单" style="styleMulti" />
                <MenuElement name="menuThree2" text="三级菜单" style="styleMulti" expandable="true">
                    <MenuElement name="menuFour1" text="四级菜单" style="styleMulti" />
                    <MenuElement name="menuFour2" text="四级菜单" style="styleMulti" expandable="true">
                        <MenuElement name="menuFive1" text="五级菜单" style="styleMulti" />
                        <MenuElement name="menuFive2" text="五级菜单" style="styleMulti">
                        </MenuElement>
                    </MenuElement>
                </MenuElement>
            </MenuElement>
        </MenuElement>

        <MenuElement line="true"/>
        <MenuElement name="menuConfig" text="参数配置" iconwidth="16" iconnormal="res=&apos;menu/config.png&apos;"/>

        <MenuElement height="45">
            <VBox inset="2,2,0,0">
                <CheckBox name="checkMenu" text="测试项" style="styleCheckBox" />
                <Button name="btnMenuTest" text="自定义子菜单" style="styleButton"/>
            </VBox>
        </MenuElement>
    </Menu>
</window>